
.change-amount {
    margin: 2px 6px;
    padding: 4px;
    color: #779;
    background-color: #eee;
    font-size: smaller;
    border-radius: 3px;
}

.dollars {
    font-size: larger;
    color: #223344;
    background-color: #ccc;
}

.num-chips {
    font-weight: bolder;
    font-size: x-large;
    margin-left: 100px;
    padding-bottom: 25px;
}
