
.num-chips {
    font-weight: bolder;
    font-size: x-large;
    /*margin-left: 25%;*/
    /*padding-bottom: 25px;*/
    /*width: 50%;*/
}

.squeeze {
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: larger !important;
}

.btn-success {
    color: black !important;
}

.btn-info {
    background-color: dodgerblue !important;
    color: white !important;
}

.btn-danger {
    color: yellow !important;
}
